:root {
  --background: #feffff;
  --primary: #3aafa9;
  --secondary: #17252a;
  --tertiary: #def2f1;
  --quaternary: #2b6777;
}

body {
  margin: 0;
  font-family: "Calibri", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f5fa;
  min-height: 100%;
  height: max-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* APP FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Source Code Pro";
  padding: 4px 0;
  background-color: midnightblue;
  color: white;
  font-size: 0.8rem;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.info {
  justify-content: start;
}
.info-span {
  display: inline-block;
  margin-inline: 1rem;
}
/* .error {
  display: flex;
  justify-content: flex-end;
}
.error-span {
  display: inline-block;
  margin-inline: 1rem;
  color: yellow;
} */
/* JETSTREAM SECTION */

.jetstream-header {
  display: flex;
  padding: 1% 1% 0;
  font-size: larger;
  font-weight: bold;
  gap: 1rem;
}
/* .jetstream-add {
  border: none;
  border-radius: 3px;
  background-color: #e6f0fa;
  cursor: pointer;
  color: steelblue;
}
.jetstream-add:hover {
  transition-duration: 0.4s;
  color: rgb(47, 101, 145);
  background-color: #c6dbf0;
}
.jetstream-add:active {
  transform: scale(0.95);
} */
/* .search-container {
  padding: 2%;
  display: flex;
  justify-content: center;
} */
.search-div {
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: center;
}
.search-field {
  margin-left: 10rem;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  width: 450px;
  transition: width 0.5s ease-out;
  border: none;
}
.search-field:focus {
  width: 250px;
  transition: width 0.5s ease-out;
  outline: none;
}
.jetstream-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 0.5rem;
  padding: 1% 1% 60px 1%;
}
.jetstream-card {
  width: 20%;
  min-width: 250px;
  padding: 1rem;
  background-color: #e6f0fa;
  border-radius: 2px;
}
.jetstream-card:hover {
  box-shadow: 0 0 0px 1px #a5c9f0;
  transition-duration: 0.5s;
}
.jetstream-card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block-end: 1rem;
}
.jetstream-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.6rem;
}
/* .jetstream-delete {
  border: none;
  color: crimson;
  background-color: #e6f0fa;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.2rem 1rem;
}
.jetstream-delete:hover {
  background-color: #e3cfd3;
} */
.card-icon {
  cursor: pointer;
}
.jetstream-name {
  color: #333;
  font-size: larger;
  font-weight: bold;
  line-height: 1.2rem;
}
.jetstream-subject {
  display: flex;
  flex-wrap: wrap;
  color: darkslategray;
  font-size: medium;
  font-weight: normal;
  margin-block-end: 1rem;
}
.jetstream-additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: darkslategray;
  font-size: small;
}
.jetstream-footer {
  margin-block-start: 1rem;
  display: flex;
  justify-content: flex-end;
}
.jetstream-info {
  border: none;
  color: cornflowerblue;
  background-color: #e6f0fa;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.2rem 1rem;
}
.jetstream-info:hover {
  background-color: rgb(219, 229, 248);
}
/* STREAM INFO */
.streaminfo-header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
.streaminfo-close {
  border: none;
  color: cornflowerblue;
  background-color: #f0f5fa;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.2rem 1rem;
}
.streaminfo-close:hover {
  background-color: rgb(219, 229, 248);
}
/* MESSAGES SECTION */
.message-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.message-card {
  width: 15vw;
  padding: 1.5%;
  margin: 1.5%;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #e6f0fa;
}
.message-card:hover {
  box-shadow: 0 0 30px -10px #a5c9f0;
  transition-duration: 0.5s;
  cursor: pointer;
}
.message-data {
  color: black;
  font-size: large;
  font-weight: bold;
  line-height: 1.2rem;
}
.message-subject {
  color: darkslategray;
  line-height: 1.2rem;
  font-size: medium;
}
.message-date {
  color: darkslategray;
  line-height: 1.2rem;
  font-size: small;
}
.message-key {
  color: slateblue;
  line-height: 1.2rem;
  font-size: smaller;
}

#details-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  padding-inline: 2%;
}
#details-container > p {
  width: 20%;
}

.fab {
  float: right;
  bottom: 2rem;
  right: 2rem;
  background-color: #191970 !important;
  position: fixed !important;
}

.error-snack {
  border-radius: 3px;
  box-shadow: 0 0 25px -15px #444;
}

/* ADD JETSTREAM */
.addjet-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.addjet-name {
  width: 45%;
}

.addjet-subject {
  display: flex;
  width: 45%;
  gap: 8px;
  align-items: center;
}

.addjet-section:last-child {
  margin-bottom: 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 1rem;
}

.textfiled-group {
  display: flex;
  gap: 8px;
  align-items: center;
}

.switch-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 1rem;
  width: 25%;
}

.subjects {
  padding: 0px 4px;
  border-right: 1px solid lightsteelblue;
}
.subjects:last-child {
  border: none;
}

.radio-group-header {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
}
